{% extends "base/base_register.html" %}

{% load static %}

{% block title %}
    Registro
{% endblock %}

{% block navbar-title %}
    Registro
{% endblock %}

    <!-- Page content-->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success p-2">
        <button type="button" class="close" data-dismiss="alert"> × </button>
        <strong>{{message}}<strong>
    </div>
    {% endfor %}
    {% endif %}



{% block content-inner%}
    {%load crispy_forms_tags %}
    <div class="presentacion margin-top position-relative">
        <div class="presentacion-container">
            <div class="registro-muro">
                <h2 class="text-center font-Letter title-box passwordWrapper" ></h2>
                <form method="post" action="" class="registro-form pb-4 pt-2">
                    {% csrf_token %}
                    <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>

                    {{ form | crispy }}
                    <button type="submit" class="button-format" id="submit-form">Hecho</button>
                </form>
            </div>
            {% if user_type == "Estudiante" %}
            <div class="presentacion-img">
                <img src="{% static 'assets/images/registro_ alumnos.svg'%}" alt="">
            </div>
            {% else %}
            <div class="presentacion-img">
                <img src="{% static 'assets/images/profesor.svg'%}" alt="">
            </div>
            {% endif %}
        </div>
    </div>

    <style>

        li {
            color: #E50600;
        }
    
        .greenText{
            color: green;
        }
        
    
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous">
    </script>
    <script>  
    
    
        $( document ).ready(function() {  
          const changeText = function (el, text, color) {  
            el.text(text).css('color', color);  
          };  
          $('.textinput').keyup(function(event){  
    
            let $lengthValidator = null
            let $minimumLetterValidator = null
            let $minimumNumberValidator = null
            let $minimumCapitalaValidator = null
            let $minimumSpecialCharactereValidator = null
            $( "li" ).each(function( index ) {
                let textReference = $( this )
                const textValue = $( this ).text() 
                if(textValue.includes('caracteres'))  $lengthValidator = $( this )
                else if(textValue.includes('minuscula'))  $minimumLetterValidator = $( this )
                else if(textValue.includes('numero'))  $minimumNumberValidator = $( this )
                else if(textValue.includes('mayuscula'))  $minimumCapitalaValidator = $( this )
                else if(textValue.includes('caracter especial'))  $minimumSpecialCharactereValidator = $( this )
            });
    
            let text = $( ".textinput" ).val()
    
            let lowerRegexValidator = /[a-z]/ //new RegExp('[a-z]') // se agrega 'i' para hacer caso omiso de case sensitive
            let capitalRegexValidator = /[A-Z]/ //new RegExp('[A-Z]')
            let numberRegexValidator = /[0-9]/ //new RegExp('[0-9]')
            let specialRegexValidator = /[.!@#$%&*()_+-]/ //new RegExp('[.!@#$%^&*()_+-=0-9]')
            
            // Length validator
            if($( ".textinput" ).val().length >= 9){
                $lengthValidator.addClass("greenText")
            } else {
                $lengthValidator.removeClass("greenText")
            }
            // Letter validator
            if (lowerRegexValidator.test(text)) {
                $minimumLetterValidator.addClass("greenText")
            }
            else {
                $minimumLetterValidator.removeClass("greenText")
            }
            // Number validator
            if (numberRegexValidator.test(text)) {
                $minimumNumberValidator.addClass("greenText")
            }
            else {
                $minimumNumberValidator.removeClass("greenText")
            }
            // Capital case
            if (capitalRegexValidator.test(text)) {
                $minimumCapitalaValidator.addClass("greenText")
            }
            else {
                $minimumCapitalaValidator.removeClass("greenText")
            }
             // Special character case
             if (specialRegexValidator.test(text)) {
                $minimumSpecialCharactereValidator.addClass("greenText")
            }
            else {
                $minimumSpecialCharactereValidator.removeClass("greenText")
            }
          });  
          });  
          </script>  
{% endblock %}