{% extends "base/base_register.html" %}

{% load static %}

{% block title %}
    Registro
{% endblock %}

{% block navbar-title %}
    Registro
{% endblock %}

    <!-- Page content-->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success p-2">
        <button type="button" class="close" data-dismiss="alert"> × </button>
        <strong>{{message}}<strong>
    </div>
    {% endfor %}
    {% endif %}



{% block content-inner%}
    <div class="presentacion margin-top position-relative">
        <div class="presentacion-container">
            <div class="registro-muro">
                <h2 class="text-center font-Letter title-box passwordWrapper" ></h2>


                <form method="post" action="" class="registro-form pb-4 pt-2">
                    <h1>Restablecimiento de contraseña completado</h1>

                    <p>
                        Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.
                    </p>

                    <a href="/" style="color: blue;">Iniciar sesión</a>
                </div>
                </form>

            <div class="presentacion-img">
                <img src="{% static 'assets/images/registro_ alumnos.svg'%}" alt="">
            </div>

        </div>
    </div>
{% endblock %}