{% extends "base/base_register.html" %}

{% load static %}

{% block title %}
    Registro
{% endblock %}

{% block navbar-title %}
    Registro
{% endblock %}

    <!-- Page content-->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success p-2">
        <button type="button" class="close" data-dismiss="alert"> × </button>
        <strong>{{message}}<strong>
    </div>
    {% endfor %}
    {% endif %}



{% block content-inner%}
    <div class="hola">
        <div class="presentacion margin-top position-relative">
            <div class="presentacion-container">
                <div class="registro-muro">
                    <h2 class="text-center font-Letter title-box passwordWrapper" ></h2>


                    <form method="post" action="" class="registro-form pb-4 pt-2">
                        <h1>Restablecimiento de contraseña enviado</h1>

                        <h2> Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.
                            
                            Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</h2>
                    </div>
                    </form>

                <div class="presentacion-img">
                    <img src="{% static 'assets/images/registro_ alumnos.svg'%}" alt="">
                </div>

            </div>
        </div>
    </div>
{% endblock %}